body{

    overflow-y: hidden;
}
.left{
    width: 80px;
    height:80px;
    position: absolute;
    left: 20px;
    top: 50%;
    margin-top: -30px;
    cursor: pointer;
    z-index: 10;
}
.right{
    width: 80px;
    height:80px;
    position: absolute;
    top: 50%;
    margin-top: -30px;
    right: 20px;
    cursor: pointer;
    z-index: 10;
}
.addTask,.editTask{
    position:absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    width:400px;
    /*border: 1px solid red;*/
    background-color: #fff;

    border-radius: 10px;
    z-index: 2;

}
.addTask>div,.editTask>div{
    display: flex;
    justify-content: center;
    align-items:center;
    font-weight: bold;
}
.addTask>div:first-child,.editTask>div:first-child{
    padding-top: 20px;
    height: 50px;
    font-size: 20px;

}
.addTask>div>div>input,.editTask>div>div>input{
    width: 200px;
    height:25px;
    text-indent: 10px;
    border: 1px solid #88ADBA;
    border-radius: 4px;
    outline: mediumaquamarine;
    margin-left: 10px;
}
.addTask>div:nth-child(2),.editTask>div:nth-child(2){
    height: 50px;
    margin-bottom: 10px;
}
#submit,#edit{
    margin-top: 30px;
    margin-bottom: 35px;
    height: 30px;
    width: 200px;
    background-color:#88ADBA;
    outline: mediumaquamarine;
    border: 1px solid #88ADBA;
    border-radius: 4px;
    color:#fff;
    cursor: pointer;
}
#submit:active,#edit:active{
    outline: thin dotted;
    outline: 5px auto #88ADBA;
    outline-offset: -2px;
}
#closeAddTask,#closeDeleteDiv,#closeEditTask{
    position: absolute;
    top: 6px;
    right:8px;
    font-size:24px;
    color: #111111;
    cursor: pointer;
}
/*gettask*/
.getTask{
    padding-left: 20px;
    padding-top: 10px;
    position: absolute;
    left: 150px;
    top:250px;
    background-color: #fff;
    border-radius: 5px;
    width:300px;
    z-index: 3;
   
}
.getTask>div:first-child{
    color:#ec6941;
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 16px;
    border-bottom: 1px solid gray;
}
.circle{
    flex: 1;
    width: 20px;
    height:20px;
    border-radius: 10px;
    border:1px solid gray;
    margin: 0 auto;

}

.getTask>div{
    display: flex;
    align-items: center;
}

.taskLine{
    height: 60px;

}
.taskLine>div:nth-child(1){
    flex:1;
}
.taskLine>div:nth-child(2){
    flex:5;
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: column;
    height: 60px;
    justify-content: center;
    font-size: 18px;
}
.taskLine>div:nth-child(3){
    flex:1;
    padding-right: 10px;
    height: 60px;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.taskLine>div>img{
    width: 40px;
    height: 40px;


}

.time{
    font-size:14px;
    color:red;
}
.getTask>div:last-child{
    display: flex;
    justify-content: space-between;
    height: 80px;
    color:  #ec6941;
    padding-right: 20px;
    font-size: 18px;
    font-weight: 500;
}
#add{
    color:white;
    font-size: 19px;
    font-weight: 500;
    background-color: #ec6941;
    width: 90px;
    height:45px;
    outline: mediumaquamarine;
    border: 1px solid #ec6941;
    border-radius: 6px;
    cursor: pointer;
}
#add:active{
    outline: thin dotted;
    outline: 5px auto #ec6941;
    outline-offset: -2px;
}

.deleteDiv{
    position:absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    z-index: 2;

    background-color: #fff;
    width: 300px;
    height: 150px;

    border-radius: 10px;
}
.deleteDiv>div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.deleteDiv>div:first-child{

    height: 60px;

    font-size:18px;
    font-weight: bold;

}
.deleteDiv>div:nth-child(2){
margin-top: -10px;
    height: 40px;
    font-size: 16px;
    font-size:16px;
    font-weight: 500;
}
.deleteDiv>div:nth-child(3){

    height: 30px;
    font-size: 16px;
    font-size:16px;
    font-weight: 500;
}
.deleteDiv>div>img{
    height: 50px;
    width: 50px;
}
#delete{
    margin-top: 10px;
    height: 30px;
     width: 120px;
     background-color:#88ADBA;
     outline: mediumaquamarine;
     border: 1px solid #88ADBA;
     border-radius: 4px;
     color:#fff;
     cursor: pointer;
 }
#delete:active{
    outline: thin dotted;
    outline: 5px auto #88ADBA;
    outline-offset: -2px;
}
.tools{
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100px;
    position: absolute;
    /*top: 377px;*/

    /*left: 480px;*/
    display: none;
    border-radius: 5px;
    z-index: 5;
}
.tools:before{
    content: "";
    position: absolute;
    left: -14px;
    top:18px;
    width:0;
    height: 0;

    border-right: 15px solid #ffffff;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}
.tools>div{
    width: 49px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.tools>div:first-child{

    border-right: 1px solid gray;
}
.tools>div>img{
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.tools>div>div{
   color: #ec6941;
}
.selected{
    position: absolute;
    z-index: 3;
    height:90px;

}
.addTask{
    display: none;
    z-index: 20;
}
.getTask{
    display: none;
}
.deleteDiv{
    display: none;
    z-index: 20;
}
.selected{
    display: none;
}
.touch{
    cursor: pointer;
    z-index: 1;
}
.plant{
    z-index: 2;
}
.editTask{
    display: none;
    z-index: 15;
}
body{
    position: relative;
    z-index: -1;
}
#outer{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.7;
    z-index: 12;
    display: none;
}
.circle{
    cursor: pointer;
    background-color: #fff;
}